# Android / Kotlin / Jetpack Compose .gitignore

# IntelliJ / Android Studio
*.iml
.gradle/
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS
.DS_Store

# Build
/build/
captures/

# C++ / NDK
.externalNativeBuild/
.cxx/

# En . gitignore
local.properties